/* --- ---- Reset-site ---- --- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

body{
    background-color:  rgb(42, 42, 42);
}

/*-------------------------------------------------------------*/
/* --- ---- Classes Auxiliares ---- --- */

.clear{
    clear: both;
    
}

.w33{
    float: left;
    width: 33.3%;

}

/* --- ---- style-site ---- --- */
/*-------------------------------------------------------------*/
/* --- ---- header ---- --- */


header.cabeca .container_menu {
    overflow: hidden;
    margin: auto;
    padding: 15px;
    font-size: 20px;
    
}

.container_menu  .logo{
    float: left;
    height: 30px;
    
}

.container_menu  .nav_menu, 
.nav_mobile{
    float: right;
 
}

.nav_menu ul, 
.nav_mobile ul{
    list-style: none;
 
}

.nav_menu li, 
.nav_mobile li{
    overflow: hidden;
    position: relative;
    float: left;
    margin-left: 15px;
    padding: 10px 0;
}

.nav_menu a, 
.nav_mobile a{
    font-style: italic;
    text-decoration: none;
    color: #CCC;
}


nav.nav_mobile h2{ /* --- ---- icone-bars ---- --- */
    position: absolute;
    cursor: pointer;
    color: rgb(226, 34, 9);
    top: 23px;
    right: 25px;

}

nav.nav_mobile{
    display: none;

}

/* --- ---- Primeira Section ---- --- */
section.prim_section .container_section_prim{
    overflow: hidden;
    position: relative;

    margin-top: 10px;
    text-align: center;

}

.titulo{
    display: none;
    width:210px;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #CCCCCC;
    border: 0;
    
    box-shadow: -1px 2px 1px rgb(226, 34, 9);
    
 
}

.titulo h1{
    padding: 5px;
    font-style: italic;
    font-weight: lighter;
}

.container_section_prim h2{
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
    
    margin: 10px;
    color: #CCCCCC;
    text-shadow: -1px 2px 2px rgb(248, 65, 41);
}

section.prim_section .logo_section{
    top: 10px;
    position: relative;
    text-align: center;
    

}
.logo_section img{
    width: 200px;

    

}

.box_imag{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

}
.cartao{
    margin-left: 15px;
    width: 100%;
}

.box_boneco{
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: chartreuse;

}

.imag_boneco{
    max-width: 180px;
    max-height: 236px;
    min-width: 110px;
}


/* --- ---- footer ---- --- */


footer.rodape{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: rgba(103, 116, 116);
    color: #CCC;
    padding-top: 10px;
}
    

footer.rodape h2{
    font-size: 18px;
}

footer.rodape .container_rodape{
    overflow: hidden;
    
}

.iconlaranjas{
    color: rgb(226, 34, 9);
    font-size: 20px;
}


.box_endereco{
    text-align: center;

}

.box_endereco address.end{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    
}

.box_endereco p{
    text-align: left;
    padding: 10px;
    font-size: 13px;

}

.box_localizacao{
    text-align: center;
    
}

.box_localizacao img{
    padding: 10px;
    width: 250px;
    height: 140px;

}

.box_conect{
    text-align: center;
    
}

.box_conect a{
    margin-top: 3px;
    margin-bottom: 10px;
    padding-top: 0;
    position: relative;
    height: 50px;
    display: inline-block;
    width: 48px;
    text-decoration: none;
    
}

.icones{
    font-size: 25px;
    color: #CCC;
    
    
}

.box_conect p{
    margin-bottom: 10px;

}



.div_icone{
    position: absolute;
    margin-right: auto;
    padding: 5px 7px;
    left: 50%;
    top: 50%;
    border: 1.8px dotted #CCC;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    
}

.iconwhat{
    font-size: 27px;
    
}

.box_conect p{
    padding: 5px;
    font-size: 13px;


}

/*---------------------------------------------------------------*/
/* --- ---- Responsividade ---- --- */

@media screen and (max-width:780px){

    /* --- ----  ---- --- */
    .container_menu  .logo{
        float: none;
        margin-right: auto;
        text-align: center;  
        
    }

    header.cabeca .linha{
        display: none;
    }
    

    .nav_mobile{
        padding: 10px 0;
        width: 100%;
        float: none;
        text-align: center;   
     
    }

    
  
    .nav_mobile li{
        float: none;
        margin: 0 10px;
        margin-bottom: 5px;
        padding: 10px;
        background-color: rgb(50, 54, 54);
        border-bottom: 1px solid rgb(226, 34, 9);

    }

    .nav_mobile a{
        font-size: 20px;
    }

    nav.nav_mobile{
        display: inline-block;

    }

    nav.nav_menu {
        display: none;
    }
    /* --- ---- Primeira Section ---- --- */
    .titulo{
        display: block;
        
        
        
    }
    section.prim_section .logo_section{
        display: none;
    }

    .box_boneco{
        width: 70%;
    
    }



    /* --- ---- footer ---- --- */

    .w33{
        width: 100%;
        
    }

    .box_endereco address.end{
        
        max-width: 70%;
        
    }

    .box_localizacao img{
        padding: 10px;
        width: 70%;
        
    
    }




}


/*---------------------------------------------------------------*/
/* --- ---- Animações ---- --- */

.logo :hover {
    animation: anilogo 0.3s;

}

.nav_menu li:hover {
    animation: anilogo 0.3s;

}

.nav_mobile h2:hover{
    animation: anilogo 0.3s;

}

.nav_mobile li:hover{
    animation: anilogo 0.3s;

}


@keyframes anilogo{
    0%{
        transform: translateY(0px);
        
        
    }

    50%{
        transform: translateY(5px);
    }
    

    100%{
        transform: translateY(-5px);
    }
}

